In [26]:
import pandas as pd

# Example Dataset
data = {
    'Name': ['Riya', 'Amit', 'Karan', 'Siddhi', 'Neha'],
    'Age': [20, 22, 19, None, 21],
    'Gender': ['Female', 'Male', 'Male', 'Female', 'Female'],
    'City': ['Delhi', 'Mumbai', 'Delhi', 'Pune', None],
    'Marks': [88, 75, 90, 95, 80]
}

df = pd.DataFrame(data)
print("Original Data:")
print(df)

Original Data:
     Name   Age  Gender    City  Marks
0    Riya  20.0  Female   Delhi     88
1    Amit  22.0    Male  Mumbai     75
2   Karan  19.0    Male   Delhi     90
3  Siddhi   NaN  Female    Pune     95
4    Neha  21.0  Female    None     80

In [27]:
print(df.isnull().sum())

Name      0
Age       1
Gender    0
City      1
Marks     0
dtype: int64

In [28]:
# Fill missing Age with mean
df['Age'].fillna(df['Age'].mean(), inplace=True)

# Fill missing City with most frequent value (mode)
df['City'].fillna(df['City'].mode()[0], inplace=True)

/tmp/ipython-input-2591242842.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
/tmp/ipython-input-2591242842.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].fillna(df['City'].mode()[0], inplace=True)

In [29]:
print(df)

     Name   Age  Gender    City  Marks
0    Riya  20.0  Female   Delhi     88
1    Amit  22.0    Male  Mumbai     75
2   Karan  19.0    Male   Delhi     90
3  Siddhi  20.5  Female    Pune     95
4    Neha  21.0  Female   Delhi     80

In [30]:
print(df.isnull().sum())

Name      0
Age       0
Gender    0
City      0
Marks     0
dtype: int64

In [31]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])
df['City'] = le.fit_transform(df['City'])
print(df)

     Name   Age  Gender  City  Marks
0    Riya  20.0       0     0     88
1    Amit  22.0       1     1     75
2   Karan  19.0       1     0     90
3  Siddhi  20.5       0     2     95
4    Neha  21.0       0     0     80

In [32]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df[['Age', 'Marks']] = scaler.fit_transform(df[['Age', 'Marks']])
print(df)

     Name  Age  Gender  City     Marks
0    Riya -0.5       0     0  0.334627
1    Amit  1.5       1     1 -1.477935
2   Karan -1.5       1     0  0.613483
3  Siddhi  0.0       0     2  1.310622
4    Neha  0.5       0     0 -0.780796

In [33]:
from sklearn.model_selection import train_test_split

X = df[['Age', 'Gender', 'City', 'Marks']]
y = [1, 0, 1, 1, 0]  # Example labels (1 = Pass, 0 = Fail)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

print("Training Data:\n", X_train)
print("Testing Data:\n", X_test)

Training Data:
    Age  Gender  City     Marks
2 -1.5       1     0  0.613483
0 -0.5       0     0  0.334627
3  0.0       0     2  1.310622
Testing Data:
    Age  Gender  City     Marks
1  1.5       1     1 -1.477935
4  0.5       0     0 -0.780796

In [34]:
import pandas as pd
data={
    'Name':['Nidhi','Siddhi','Kapish','Jyoti','Brijendra'],
    'Age':[23,21,13,46,50],
    'Gender':['Female','Female','Male','Female','Male'],
    'Marks':[95,88,80,None,None],
    'Country':['India','Paris','Bangladesh','India','Paris']
}
df=pd.DataFrame(data)
print(df)

        Name  Age  Gender  Marks     Country
0      Nidhi   23  Female   95.0       India
1     Siddhi   21  Female   88.0       Paris
2     Kapish   13    Male   80.0  Bangladesh
3      Jyoti   46  Female    NaN       India
4  Brijendra   50    Male    NaN       Paris

In [35]:
print(df.isnull().sum())

Name       0
Age        0
Gender     0
Marks      2
Country    0
dtype: int64

In [36]:
# Fill missing Age with mean
df['Marks'].fillna(df['Marks'].mean(), inplace=True)

/tmp/ipython-input-2345667315.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Marks'].fillna(df['Marks'].mean(), inplace=True)

In [37]:

print(df)

        Name  Age  Gender      Marks     Country
0      Nidhi   23  Female  95.000000       India
1     Siddhi   21  Female  88.000000       Paris
2     Kapish   13    Male  80.000000  Bangladesh
3      Jyoti   46  Female  87.666667       India
4  Brijendra   50    Male  87.666667       Paris

In [38]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])
df['Country'] = le.fit_transform(df['Country'])
print(df)

        Name  Age  Gender      Marks  Country
0      Nidhi   23       0  95.000000        1
1     Siddhi   21       0  88.000000        2
2     Kapish   13       1  80.000000        0
3      Jyoti   46       0  87.666667        1
4  Brijendra   50       1  87.666667        2

In [39]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df[['Age', 'Marks']] = scaler.fit_transform(df[['Age', 'Marks']])
print(df)

        Name       Age  Gender     Marks  Country
0      Nidhi -0.518750       0  1.544858        1
1     Siddhi -0.655263       0  0.070221        2
2     Kapish -1.201316       1 -1.615079        0
3      Jyoti  1.051152       0  0.000000        1
4  Brijendra  1.324178       1  0.000000        2

In [41]:
from sklearn.model_selection import train_test_split

X = df[['Age', 'Gender', 'Country', 'Marks']]
y = [1, 0, 1, 1, 0]  # Example labels (1 = Pass, 0 = Fail)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

print("Training Data:\n", X_train)
print("Testing Data:\n", X_test)

Training Data:
         Age  Gender  Country     Marks
2 -1.201316       1        0 -1.615079
0 -0.518750       0        1  1.544858
3  1.051152       0        1  0.000000
Testing Data:
         Age  Gender  Country     Marks
1 -0.655263       0        2  0.070221
4  1.324178       1        2  0.000000